
.post-navigation .nav-previous a .nav-arrow {
	background-image: url(../images/team-2.jpg);
}

.post-navigation .nav-next a .nav-arrow {
	background-image: url(../images/team-1.jpg);
}

.home3 {
	background-color: #c6d8e7!important;
}

.single-post .post-navigation .nav-previous a .nav-arrow {
	background-image: url(../images/image-10.jpg);
}

.single-post .post-navigation .nav-next a .nav-arrow {
	background-image: url(../images/image-2.jpg);
}

.hr_advisor_inline_568149348 {
	background-image: url(../images/image-2.jpg);
}

.hr_advisor_inline_1001626202 {
	background-image: url(../images/image-3.jpg);
}

	
.vc_sep_holder .vc_sep_line {
	border-color:#edf0f2;
}

.homepg .sc_icons_icon_type_fontawesome {
	color: #ffffff;
}

.textwidget img {
	margin-bottom: 2.3em;
	margin-top: -0.7em;
}

.uniq p,
.uniq h2,
.uniq h4,
.uniq h5 {
	text-align: center;
}

.cblue,
.uniq h5 {
	color: #0374a6!important; 
}
.uni1 h5 {
	color: #1093b8;
}

.sgteam .vc_sep_line {
	border-color:#edf0f2;
}

.codes .sc_icons_icon_type_fontawesome {
	color: #ffffff;
}
.codes .with_image {
	background-image:url(../images/bg-shortcodes.jpg);
}
.codes .slider_one {
	max-height:349px;
}
.codes .slider_one .sw-slide_1 {
	background-image:url(../images/1.jpg);
}
.codes .slider_one .sw-slide_2 {
	background-image:url(../images/image-2.jpg);
}
.codes .slider_one .sw-slide_3 {
	background-image:url(../images/image-14.jpg);
}
.codes .slider_one .sw-slide_4 {
	background-image:url(../images/image-10.jpg);
}
.codes .slider_one .sw-slide_5 {
	background-image:url(../images/image-3.jpg);
}

.pformats .slider_one .sw-slide_1 {
	background-image:url(../images/image-13-770x481.jpg);
}
.pformats .slider_one .sw-slide_2 {
	background-image:url(../images/image-7-770x481.jpg);
}
.pformats .slider_one .sw-slide_3 {
	background-image:url(../images/image-11-770x481.jpg);
}
.pformats .slider_one .sw-slide_4 {
	background-image:url(../images/image-12-770x481.jpg);
}
.pformats .slider_one .sw-slide_5 {
	background-image:url(../images/image-8-770x481.jpg);
}
.pformats .wp-audio-shortcode {
	width: 100%!important;
}

.single-post .post_featured_fullwide {
	background-image:url(../images/image-14.jpg);
}

.typo .wp-caption {
	width: 300px;
}

.typo .sc_table {
	width:100%;
}

.copyright_text .column-1_2:nth-child(2) {
	text-align: right;
}

.mtop_0 {
	margin-top: 0em;
}
.mtop_3-3 {
	margin-top: 3.3em;
}
.mtop_4-3 {
	margin-top: 4.3em;
}

.empty_1 {
	height: 1em;
}
.empty_2 {
	height: 2em;
}
.empty_2-5 {
	height: 2.5em;
}
.empty_2-68 {
	height: 2.68em;
}
.empty_2-8 {
	height: 2.8em;
}
.empty_3 {
	height: 3em;
}
.empty_3-5 {
	height: 3.5em;
}
.empty_3-7 {
	height: 3.7em;
}
.empty_4 {
	height: 4em;
}
.empty_4-1 {
	height: 4.1em;
}
.empty_4-4 {
	height: 4.4em;
}
.empty_4-5 {
	height: 4.5em;
}
.empty_4-6 {
	height: 4.6em;
}
.empty_5 {
	height: 5em;
}
.empty_5-4 {
	height: 5.4em;
}
.empty_5-5 {
	height: 5.5em;
}
.empty_5-7 {
	height: 5.7em;
}
.empty_6 {
	height: 6em;
}
.empty_6-4 {
	height: 6.4em;
}
.empty_6-7 {
	height: 6.7em;
}
.empty_6-8 {
	height: 4em;
}
.empty_7 {
	height: 7em;
}
.empty_7-3 {
	height: 7.3em;
}
.empty_7-4 {
	height: 7.4em;
}
.empty_7-5 {
	height: 7.5em;
}
.empty_7-6 {
	height: 7.6em;
}
.empty_8 {
	height: 8em;
}
.empty_8-7 {
	height: 8.7em;
}
.empty_8-8 {
	height: 8.8em;
}
.empty_9-3 {
	height: 9.3em;
}
.empty_9-7 {
	height: 9.7em;
}
.empty_11 {
	height: 11em;
}
.empty_11-2 {
	height: 11.2em;
}
.empty_12-9 {
	height: 12.9em;
}
.empty_30p {
	height: 30px;
}

.blog_style_classic_3 .format-aside .post_meta {
    margin-top: 2.5em;
}


img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}

.recentcomments a {
	display: inline !important;
	padding: 0 !important;
	margin: 0 !important;
}




#sc_googlemap_744 {
	width:100%;
	height:570px;
}
#sc_googlemap_039 {
	width:100%;
	height:320px;
}

#audio-7-1 {
	width: 100%;
} 

#rev_slider_5_1_wrapper,
#rev_slider_1_1_wrapper,
#rev_slider_4_1_wrapper {
	margin:0px auto;
	background-color:transparent;
	padding:px;
	margin-top:0px;
	margin-bottom:0px;
}

#slide-1-layer-1 {
	z-index: 6; 
	white-space: nowrap; 
	font-size: 18px; 
	line-height: 18px; 
	font-weight: 400; 
	color: rgba(28, 153, 189, 1.00);
	font-family:'Carnas Light';
	text-transform:uppercase;
	letter-spacing:0.1em;
}
#slide-1-layer-2 {
	z-index: 7; 
	white-space: nowrap; 
	font-size: 55px;
	line-height: 55px; 
	font-weight: 400;
	color: rgba(32, 32, 32, 1.00);
	font-family:'Carnas Light';
}
#slide-1-layer-3 {
	z-index: 8; 
	white-space: nowrap; 
	font-size: 13px; 
	line-height: 62px; 
	font-weight: 400; 
	color: rgba(255, 255, 255, 1.00);
	font-family:'Carnas Light';
	text-transform:uppercase;
	background:linear-gradient(to right,#035a95 0%,#0498bd 100%);
	letter-spacing:3px;
	cursor:pointer;
}
#slide-1-layer-4 {
	z-index: 5;
	background-color:rgba(255, 255, 255, 0.50);
}
#slide-3-layer-1 {
	z-index: 9; 
	white-space: nowrap; 
	font-size: 18px; 
	line-height: 18px;
	font-weight: 400; 
	color: rgba(28, 153, 189, 1.00);
	font-family:'Carnas Light';
	text-transform:uppercase;
	letter-spacing:0.1em;
}
#slide-3-layer-2 {
	z-index: 10;
	white-space: nowrap;
	font-size: 55px;
	line-height: 55px; 
	font-weight: 400;
	color: rgba(32, 32, 32, 1.00);
	font-family:'Carnas Light';
}
#slide-3-layer-3 {
	z-index: 11; 
	white-space: nowrap;
	font-size: 13px; 
	line-height: 62px; 
	font-weight: 400; 
	color: rgba(255, 255, 255, 1.00);
	font-family:'Carnas Light';
	text-transform:uppercase;
	background:linear-gradient(to right,#035a95 0%,#0498bd 100%);
	letter-spacing:3px;
	cursor:pointer;
}

#slide-9-layer-1 {
	z-index: 5; 
	white-space: nowrap; 
	font-size: 18px;
	line-height: 18px; 
	font-weight: 400; 
	color: rgba(28, 153, 189, 1.00);
	font-family:'Carnas Light';
	text-transform:uppercase;
	letter-spacing:0.1em;
}
#slide-9-layer-2 {
	z-index: 6; 
	white-space: nowrap; 
	font-size: 55px; 
	line-height: 55px;
	font-weight: 400; 
	color: rgba(32, 32, 32, 1.00);
	font-family:'Carnas Light';
}
#slide-9-layer-3 {
	z-index: 7; 
	white-space: nowrap; 
	font-size: 13px; 
	line-height: 62px; 
	font-weight: 400; 
	color: rgba(255, 255, 255, 1.00);
	font-family:'Carnas Light';
	text-transform:uppercase;
	background:linear-gradient(to right,#035a95 0%,#0498bd 100%);
	letter-spacing:3px;
	cursor:pointer;
}
#slide-8-layer-4 {
	z-index: 8;
	background-color:rgba(255, 255, 255, 0.50);
}
#slide-8-layer-1 {
	z-index: 9;
	white-space: nowrap;
	font-size: 18px; 
	line-height: 18px; 
	font-weight: 400; 
	color: rgba(28, 153, 189, 1.00);
	font-family:'Carnas Light';
	text-transform:uppercase;
	letter-spacing:0.1em;
}
#slide-8-layer-2 {
	z-index: 10; 
	white-space: nowrap; 
	font-size: 55px; 
	line-height: 55px; 
	font-weight: 400; 
	color: rgba(32, 32, 32, 1.00);
	font-family:'Carnas Light';
}
#slide-8-layer-3 {
	z-index: 11; 
	white-space: nowrap; 
	font-size: 13px; 
	line-height: 62px; 
	font-weight: 400;
	color: rgba(255, 255, 255, 1.00);
	font-family:'Carnas Light';
	text-transform:uppercase;
	background:linear-gradient(to right,#035a95 0%,#0498bd 100%);
	letter-spacing:3px;
	cursor:pointer;
}

#slide-10-layer-1 {
	z-index: 5;
	white-space: nowrap; 
	font-size: 18px; 
	line-height: 18px;
	font-weight: 400;
	color: rgba(28, 153, 189, 1.00);
	font-family:'Carnas Light';
	text-transform:uppercase;
	letter-spacing:0.1em;
}
#slide-10-layer-2 {
	z-index: 6; 
	white-space: nowrap; 
	font-size: 55px; 
	line-height: 55px; 
	font-weight: 400; 
	color: rgba(32, 32, 32, 1.00);
	font-family:'Carnas Light';
}
#slide-10-layer-3 {
	z-index: 7; 
	white-space: nowrap; 
	font-size: 13px; 
	line-height: 62px; 
	font-weight: 400; 
	color: rgba(255, 255, 255, 1.00);
	font-family:'Carnas Light';
	text-transform:uppercase;
	background:linear-gradient(to right,#035a95 0%,#0498bd 100%);
	cursor:pointer;
}
#slide-11-layer-1 {
	z-index: 8; 
	white-space: nowrap;
	font-size: 18px; 
	line-height: 18px; 
	font-weight: 400;
	color: rgba(28, 153, 189, 1.00);
	font-family:'Carnas Light';
	text-transform:uppercase;
	letter-spacing:0.1em;
}
#slide-11-layer-2 {
	z-index: 9;
	white-space: nowrap; 
	font-size: 55px;
	line-height: 55px; 
	font-weight: 400;
	color: rgba(32, 32, 32, 1.00);
	font-family:'Carnas Light';
}
#slide-11-layer-3 {
	z-index: 10; 
	white-space: nowrap;
	font-size: 13px;
	line-height: 62px;
	font-weight: 400; 
	color: rgba(255, 255, 255, 1.00);
	font-family:'Carnas Light';
	text-transform:uppercase;
	background:linear-gradient(to right,#035a95 0%,#0498bd 100%);
	cursor:pointer;
}



.vc_custom_1467796921857 {
		margin-top: -25px !important;
		background-color: #ffffff !important;
	}

.vc_custom_1474376739611 {
	background: #ffffff url(../images/123.png) !important;
}

.vc_custom_1474881211962 {
	background-color: #f1f6fb !important;
}

.vc_custom_1474881086363, 
.vc_custom_1474882301931 {
	background-image: url(../images/home1.jpg) !important;
}

.vc_custom_1467641241328 {
	background-color: #f1f6fb !important;
}

.vc_custom_1466765305300 {
	margin-top: -1.4em !important;
	margin-bottom: 2em !important;
}

.vc_custom_1468846762392 {
	margin-right: 5% !important;
}

.vc_custom_1467108173510 {
	background-color: #ffffff !important;
}

.vc_custom_1468592779615 {
	margin-top: 2em !important;
	margin-bottom: 3em !important;
}

.vc_custom_1468592892644 {
	margin-top: -6em !important;
}

.vc_custom_1467800579955 {
	margin-top: 1.5em !important;
}


.vc_custom_1468158242558 {
	margin-top: -25px !important;
	background-color: #ffffff !important;
}

.vc_custom_1467640224497, 
.vc_custom_1468071078481 {
	background-color: #f1f6fb !important;
}

.vc_custom_1468070440943 {
	margin-top: 2.5em !important;
}

.vc_custom_1468668415936 {
	padding-right: 8% !important;
}

.vc_custom_1468668443261 {
	padding-left: 9% !important;
}

.vc_custom_1468167305519 {
	margin-top: 2em !important;
}
.vc_custom_1468167409309 {
	background-color: #f1f6fb !important;
}
.vc_custom_1468243319029 {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.vc_custom_1474885330214 {
	background-color: #f1f6fb !important;
}

.vc_custom_1474885431955 {
	background-image: url(../images/home1.jpg) !important;
}

.vc_custom_1474885337838 {
	background-color: #f1f6fb !important;
}

.vc_custom_1468676780399 {
	margin-bottom: 10px !important;
}

.vc_custom_1468676785098 {
	margin-bottom: 10px !important;
}

.vc_custom_1468676789532 {
	margin-bottom: 10px !important;
}

.vc_custom_1468848838983 {
	margin-top: 3.7em !important;
}

.vc_custom_1466506104195 {
	margin-top: 50px !important;
	margin-bottom: 50px !important;
}

.vc_custom_1474378654118 {
	background: #ffffff url(../images/123.png) !important;
}

.vc_custom_1466684251937 {
	margin-top: 0px !important;
}

.vc_custom_1466684245482 {
	margin-top: 0px !important;
}

.vc_custom_1466756204459 {
	background-color: #ffffff !important;
}

.vc_custom_1468423677617 {
	padding-top: 4.9em !important;
	padding-right: 4.9em !important;
	padding-bottom: 4.9em !important;
	padding-left: 5.6em !important;
	background-color: #f1f6fb !important;
}
.vc_custom_1449069687256 {
	background-color: #ffffff !important;
}

.vc_custom_1468250324175 {
	background-color: #f1f6fb !important;
}

.vc_custom_1468250705701 {
	margin-bottom: 2em !important;
}

.vc_custom_1464614075042 {
	margin-top: 20px !important;
}

.vc_custom_1468250290105 {
	margin-top: 1em !important;
}

.vc_custom_1468766285319 {
	padding-top: 0px !important;
}

.vc_custom_1468766624453 {
	margin-top: 2.7em !important;
}

.vc_custom_1468673382327 {
	padding-bottom: 35px !important;
	background-color: #f1f6fb !important;
}
